# App.
export API_PORT=4021
export DEBUG=true

# Postgres.
export POSTGRES_USER="postgres"
export POSTGRES_PASSWORD="postgres"
export POSTGRES_DB="story-schematics"
export POSTGRES_PORT=5021
export POSTGRES_TEST_PORT=5022
export POSTGRES_HOST="0.0.0.0"

export POSTGRES_DSN="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"
export POSTGRES_DSN_TEST="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_TEST_PORT}/${POSTGRES_DB}?sslmode=disable"

# Dependencies.
export JSON_KEYS_SERVICE_PORT=4001
export JSON_KEYS_API_VERSION="v1"
export JSON_KEYS_SERVICE_URL="http://localhost:${JSON_KEYS_SERVICE_PORT}/${JSON_KEYS_API_VERSION}"
export JSON_KEYS_MASTER="fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"
export JSON_KEYS_SERVICE_TEST_PORT=5001
export JSON_KEYS_SERVICE_TEST_URL="http://localhost:${JSON_KEYS_SERVICE_TEST_PORT}/${JSON_KEYS_API_VERSION}"

# OpenAI configuration.
export OPENAI_TOKEN="[your-openai-token]"

# Other.
export PODMAN_IGNORE_CGROUPSV1_WARNING="true"
export PODMAN_COMPOSE_PROVIDER="podman-compose"
export PODMAN_COMPOSE_WARNING_LOGS=false
